<h1>New Pirates and Ships</h1>
<form action="/pirates" method="post">
<table>
  <tr>
    <td>Name</td>
    <td><input type="text" name="pirate[name]" placeholder="name"></td>
  </tr>
  <tr>
    <td>Weight</td>
    <td><input type="text" name="pirate[weight]" placeholder="weight"></td>
  </tr>
  <tr>
    <td>Height</td>
    <td><input type="text" name="pirate[height]" placeholder="height"></td>
  </tr>
  <tr>
    <td>Ship 1</td>
    <td><input type="text" id="ship_name_1" name="pirate[ships][][name]" placeholder="ship 1 name"></td>
    <td><input type="text" id="ship_type_1" name="pirate[ships][][type]" placeholder="ship 1 type"></td>
    <td><input type="text" id="ship_booty_1" name="pirate[ships][][booty]" placeholder="ship 1 booty"></td>
  </tr>
  <tr>
    <td>Ship 2</td>
    <td><input type="text" id="ship_name_2" name="pirate[ships][][name]" placeholder="ship 2 name"></td>
    <td><input type="text" id="ship_type_2" name="pirate[ships][][type]" placeholder="ship 2 type"></td>
    <td><input type="text" id="ship_booty_2" name="pirate[ships][][booty]" placeholder="ship 2 booty"></td>
  </tr>
  <tr>
    <td><a href="">Cancel</a></td>
    <td><input type="submit" value="Submit"></td>
  </tr>
</table>
</form>